<!DOCTYPE html>
<html lan="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.F.A</title>
    <link href="public/style.css" rel="stylesheet" />
</head>
<body>
<input type="checkbox" id="CHECKED">


<div class="header">
    <img   src="public/PFALOGO.png" />
    <nav class="navbar">
        <ul>
            <a  href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>

        </ul>


        <label id="labelID" for="CHECKED">MENU</label>

    </nav>


    <div id="buttons" style="display: flex; margin-right: 20%; text-align: left; gap: 4px;">
        <button style="padding: 10px 24px; background-color: #fff;font: 1em sans-serif;  height: 50px; margin-top: 5%; border: 2px solid black; border-radius: 4px; cursor: pointer;">
            LOGIN
        </button>
    </div>

</div>
</header>

<div class="mobileMenu">

    <nav class="navbar">
        <ul>
            <a style="background-color: purple; color: #fff;" href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Me</a>
            <a style="color: rgb(10, 10, 233);" href="login.html">LOGIN</a>
        </ul>
    </nav>
</div>

<main>
    <div class="introduction">
        <h1>Personal Finance Analyzer</h1>
        <p>Provides Personal Financial  Graphs by Analyzing Your Bank Statement.
            <br>P.F.A Provides Easy Insight about How you <em style="color: rgb(247, 168, 22);">
                Spend. </em>
        </p>
        <button id="signUP" style="padding: 10px 24px; background-color:rgb(237, 157, 9);  ; color: #fff; height: 50px; margin-top: 5%; border: none; border-radius: 4px; cursor: pointer;">
            GET STARTED
        </button>
    </div>


    <div class="moreInfo">

        <h1 style="color: #fff;">How it work</h1>
    </div>

    <div class="firstStep">
        <img id="number1" src="public/Number1.png" />
        <h1 id="first_H">Upload Bank Statement  </h1>
        <h1 id="second_H" style="color: #fff;">P.F.A Handles The Rest </h1>
    </div>
    <div class="figure1">
        <img id="Line1" src="public/croppedLine.png"/>
        <img id="Line2" src="public/file-move-right-dual-tone-icon.png" />
        <img id="Line3" src="public/orangebtn.png" />
        <img  id="slums_brief_figure2"  src="public/finalGraph.png"  />



    </div>
    <div id="brief_figure2" style="display: flex; background-color: #58588f; ">
        <h1 style="color: #fff;">P.F.A Handles The Rest</h1>
    </div>
    <div class="figure2" >
        <img id="brief_figure" src="public/finalGraph.png"  />
    </div>
</main>


</main>


<footer>
    <div class="my_details">
        <h1 id="myname" style="color: #fff;" >Project By : khulekani492</h1>
    </div>

</footer>
</body>

</html>