<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin login</title>
    <link href="css/loginstyle.css" rel="stylesheet"/>
</head>

<body>

<div class="loginForm">
    <form >
        <label style="color:red;">Login:</label><br><br>
        <input type="text" id="admin" value="admin"><br><br>
        <label style="color:red;" >Password:</label><br><br>
        <input type="text" id="password" value="password"><br><br>
        <button>LOG IN</button>
    </form>
</div>


</body>
</html>